<section class="block">
  <div class="container">
    <h2 class="block__heading">about us</h2>
    <p>
      The Cowshed is a welcoming, independent venue at the heart of the
      Scarborough community, known for its relaxed atmosphere, friendly service,
      and quality food and drink. We pride ourselves on creating a space where
      locals and visitors alike can unwind, enjoy great company, and feel right
      at home. We combine fresh locally sourced ingredients and create burgers
      to remember.
    </p>
  </div>
</section>
