<section class="block">
  <div class="container block__content">
    <h1 class="block__heading">about us</h1>
    <p class="block__text">
      The Cowshed is a welcoming, independent venue at the heart of the
      Scarborough community, known for its relaxed atmosphere, friendly service,
      and quality food and drink. We pride ourselves on creating a space where
      locals and visitors alike can unwind, enjoy great company, and feel right
      at home. We combine fresh locally sourced ingredients and create burgers
      to remember.
    </p>

    <h2 class="block__heading">got beef?</h2>
    <p class="block__text">
      Sourced and handled from North Yorkshire farms, our beef is pressed and
      minced in house by our very own team ensuring each patty gets the care it
      deserves. Great tasting flavours throughout every burger.
    </p>
    <h3 class="block__heading">phone</h3>
    <p class="block__text">01723 377977</p>
    <h3 class="block__heading">location</h3>
    <p class="block__text">94-100 St Thomas St Scarborough YO11 1DU</p>
    <h3 class="block__heading">opening hours</h3>
    <p>Open everyday from 16:00 - 21:00</p>
  </div>
  <div class="block__buttons">
    <a href="#" class="btn">Book now</a>
    <a href="https://facebook.com/cowshedburgers" class="btn">Facebook</a>
    <a href="https://instagram.com/cowshedburgers" class="btn">Instagram</a>
  </div>
</section>
