<footer id="footer" class="footer">
  <section class="footer__section">
    <div class="footer__brand">
      <img src="images/logo.png" alt="" />
    </div>
    <a href="#" class="footer__logo">
      <img src="images/logo256.png" alt="Cowshed Logo" />
    </a>
    <a
      href="https://www.instagram.com/cowshedburgers"
      target="_blank"
      rel="noopener noreferrer"
      class="footer__logos"
    >
      <img src="images/insta.png" alt="Instagram Logo" />
    </a>
    <a
      href="https://www.facebook.com/cowshedburgers"
      target="_blank"
      rel="noopener noreferrer"
      class="footer__logos"
    >
      <img src="images/facebook.png" alt="Facebook Logo" />
    </a>
    <p class="footer__content">
      cowshed burgers, 94-100 St Thomas St, scarborough, england, YO11 1DU
    </p>
    <p class="footer__copyright">&copy; 2026 Cowshed Burgers</p>
  </section>
</footer>
