<section class="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__slide">
      <img
        src="images/wallart1024.webp"
        srcset="
          images/wallart512.webp   512w,
          images/wallart1024.webp 1024w,
          images/wallart2048.webp 2048w
        "
        sizes="100vw"
        alt="Skateboard Wall Art"
      />
    </div>
    <div class="gallery__slide">
      <img
        src="images/wallart1024.webp"
        srcset="
          images/wallart512.webp   512w,
          images/wallart1024.webp 1024w,
          images/wallart2048.webp 2048w
        "
        sizes="100vw"
        alt="Burger"
      />
    </div>
    <div class="gallery__slide">
      <img
        src="images/wallart1024.webp"
        srcset="
          images/wallart512.webp   512w,
          images/wallart1024.webp 1024w,
          images/wallart2048.webp 2048w
        "
        sizes="100vw"
        alt="Burger"
      />
    </div>

    <!-- Arrows INSIDE wrapper -->
    <button class="gallery__arrow gallery__arrow--prev">&#10094;</button>
    <button class="gallery__arrow gallery__arrow--next">&#10095;</button>

    <!-- Dots INSIDE wrapper -->
    <div class="gallery__dots"></div>
  </div>
</section>
