<div id="#reviews" class="reviews-carousel">
  <button class="carousel-btn prev">&#10094;</button>
  <h2 class="block__heading block__heading-menu">what our customers say</h2>
  <div class="reviews-track">
    <div class="review-card">
      <h4>★★★★★</h4>
      <p>“Immaculate food. Immaculate vibes.”</p>
      <p><strong>– Poppy</strong></p>
    </div>

    <div class="review-card">
      <h4>★★★★★</h4>
      <p>“Great Burgers! Great Service!”</p>
      <p><strong>– tom d</strong></p>
    </div>

    <div class="review-card">
      <h4>★★★★★</h4>
      <p>
        “The reviews do not lie! We would give these guys 5* without a
        doubt....”
      </p>
      <p><strong>– Claire Wood</strong></p>
    </div>

    <div class="review-card">
      <h4>★★★★★</h4>
      <p>“If you could give 6 stars this place would definitely get that...”</p>
      <p><strong>– Paul Roslin</strong></p>
    </div>
  </div>
  <div class="reviews-platforms">
    <a
      href="https://g.page/r/CWul0l-O6UtvEBM/review"
      target="_blank"
      rel="noopener noreferrer"
      class="platform-link"
    >
      <img src="images/google.png" alt="Read our reviews on Google" />
    </a>

    <a
      href="https://www.tripadvisor.com/Restaurant_Review-g190744-d8713162-Reviews-Cowshed_Burgers-Scarborough_Scarborough_District_North_Yorkshire_England.html"
      target="_blank"
      rel="noopener noreferrer"
      class="platform-link"
    >
      <img src="images/tripadvisor.png" alt="Read our reviews on Tripadvisor" />
    </a>
  </div>

  <button class="carousel-btn next">&#10095;</button>
</div>
